.side-bar {
    background-color: #3F4A59;
    color: white;
    grid-area: side-bar;
    display: grid;
    grid-template-areas: "logo"
                         "menu"
                         "footer";
    grid-template-rows: var(--header-height) 1fr var(--footer-height);

    /* Side Bar Variables */
    --side-bar-border: 1px solid rgba(255, 255, 255, .05);
}

.side-bar__header {
    background-image: url('../../../img/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    /*font-family: Lato, Roboto, sans-serif;
    padding-top: 9px;
    padding-left: 70px;
    letter-spacing: 2.5px;
    font-size: 27px;*/
    grid-area: logo;
}

.side-bar__menu {
    grid-area: menu;
}

.side-bar__call-to-action {
    text-align: center;
    padding: 1rem;
}

.side-bar__footer {
    align-items: center;
    border-top: var(--side-bar-border);
    color: #DDDDDD;
    display: flex;
    font-size: 9px;
    grid-area: footer;
    justify-content: center;
    padding: .5rem;
}