.side-bar {
    background-color: #3F4A59;
    color: white;
    grid-area: side-bar;
    display: grid;
    grid-template-areas: "menu"
                         "footer";
    grid-template-rows: 1fr var(--footer-height);
    overflow: hidden;

    /* Side Bar Variables */
    --side-bar-border: 1px solid rgba(255, 255, 255, .05);
}

.side-bar__menu {
    grid-area: menu;
}

.side-bar__call-to-action {
    text-align: center;
    padding: 1rem;
}

.side-bar__footer {
    align-items: center;
    border-top: var(--side-bar-border);
    color: #DDDDDD;
    display: flex;
    font-size: 9px;
    grid-area: footer;
    justify-content: center;
    padding: .5rem;
}

@media (max-width: 1024px) {
    .side-bar__footer {
        display: none;
    }

    .side-bar__call-to-action {
        padding: 1em 0 0 0 !important;
    }

    .side-bar__call-to-action-label {
        display: none;
    }

    .side-bar__call-to-action > .button {
        padding: .5em ;
    }
}