.side-menu {
    border-top: var(--side-bar-border);
    border-bottom: var(--side-bar-border);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-menu__item {
    cursor: pointer;
}

.side-menu__item:hover {
    background-color: #394250;
    border-left: 3px solid var(--primary-color);
    
}

.side-menu__item--active {
    background-color: #394250;
    border-left: 3px #00AE69 solid;
    
}

.side-menu__item > a{
    box-sizing: border-box;
    color: white;
    display: inline-block;
    padding: 1em;
    text-decoration: none !important;
    width: 100%;
}

.side-menu__item > a:hover {
    padding-left: calc(1em - 3px);
}

@media (max-width: 1024px) {
    .side-menu__item-label {
        display: none;
    }

    .side-menu__item > a{
        width: auto !important;
    }
}

.side-menu__item--active > a {
    padding-left: calc(1em - 3px);
}

.side-menu__item--button {
    padding: .5em;
}

.side-menu__item--no-action {
    cursor: default;
}

.side-menu__item--no-action:hover {
    background-color: transparent;
}

.side-menu__item--center {
    text-align: center;
}