.form {
    --input-background-color: #F5F7FA;
    --input-height: 2.5em;
    --input-outline: var(--raised-primary-color) auto 2px;
    --input-border-color: #DDE2EC;
    --input-border-radius: 3px;
    --label-color: #7A8597;
    --label-margin-bottom: 5px;
    --line-height: 1.4rem;
}

.form--login {
    width: 350px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
}

.form__column {
    padding: .5em;
}

.form__column--1 {
    flex: 1;
}

.form__column--2 {
    flex: 2;
}

.form__column--3 {
    flex: 3;
}

.form__column--divider {
    border-left: 1px #EAEAEA solid;
}

.form__element {
    padding: .5em;
}

.form__element > * {
    display: block;
}

.form__element > .form__label {
    color: var(--label-color);
    font-size: 14px;
    line-height: var(--line-height);
    margin-bottom: var(--label-margin-bottom);
}

.form__label > .fa-asterisk {
    color: var(--status-color-danger);
    opacity: .8
}

.form__element > input,
.form__icon-input > input,
.form__element > select {
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 16px;
    height: var(--input-height);
    padding: 0 .5em;
    width: 100%;
}

.form__element > input,
.form__element > button,
.form__element > select {
    border-radius: var(--input-border-radius);
    width: 100%;
}

.form__icon-input > input {
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
    flex: 1;
}

.form__element > input:focus, 
.form__icon-input > input:focus,
.form__element > select:focus {
    outline: var(--input-outline);
}

.form__element > img {
    max-width: 100%;
}

.form__icon-input {
    display: flex;
    align-items: center;
}

.form__icon-input > span{
    background-color: #F9FAFB;
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
    box-sizing: border-box;
    color: #37414C;
    height: var(--input-height);
    line-height: var(--input-height);
    width: 40px;
}

.form__drag-n-drop-element {
    box-sizing: content-box;
}

.form__drag-n-drop-input {
    display: inline-block;
    margin: 0 .5em .25em 0;
}

.form__drag-n-drop-element > .form__drag-n-drop-input > label,
.form__drag-n-drop-element > .form__drag-n-drop-input > img,
.form__drag-n-drop-input--placeholder {
    align-items: center;
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    border-style: dashed;
    border-width: 2px;
    color: var(--label-color);
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    padding: .25rem;
    text-align: center;
}

.form__drag-n-drop-element > .form__drag-n-drop-input > img {
    border: none;
    object-fit: contain;
    height: calc(104px + .5rem);
    padding: 0;
    width: calc(104px + .5rem);
}

.form__drag-n-drop-input--placeholder {
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    cursor: default;
    filter: brightness(106%);
    margin-top: calc( var(--line-height) + var(--label-margin-bottom) );
}

.form__drag-n-drop-element--target > .form__drag-n-drop-input {
    width: 100%;
}

.form__drag-n-drop-element--target > .form__drag-n-drop-input > label {
    box-sizing: border-box;
    height: 200px;
    width: 100%;
}

.form__drag-n-drop-element > .form__drag-n-drop-input > input:focus + label {
    outline: var(--input-outline);
    outline-offset: -1px;
}

.form__drag-n-drop-element > .form__drag-n-drop-input > input {
    width: 0.1px; /* Setting 0px throws the element out of tab order in some browsers */
    height: 0.1px; /* Setting 0px throws the element out of tab order in some browsers */
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}