:root {
    /* Layout */
    --header-height: 50px;
    --footer-height: 50px;
    --side-bar-width: 200px;

    /* Font */
    --font-color: #37404D;
    --font-family: Roboto, sans-serif;
    --font-size: 16px;

    /* Shadows */
    --default-shadow: 4px 4px 4px rgba(0,0,0,0.08);
        --big-shadow: 4px 6px 6px rgba(0,0,0,0.08);
      --small-shadow: 2px 2px 2px rgba(0,0,0,0.16);

    /* Color Palette */
              --default-color: #E4E7EA;
       --raised-default-color: #ECEFF3;
    --decreased-default-color: #D4D7DA;
         --text-default-color: var(--font-color);

              --primary-color: #00AE69;
       --raised-primary-color: #08B772;
    --decreased-primary-color: #009E59;
         --text-primary-color: white;
    
              --secondary-color: #E38B2B;
       --raised-secondary-color: #EB9333;
    --decreased-secondary-color: #D37B1B;
         --text-secondary-color: white;

         --status-color-ok: #00AE69;
    --status-color-warning: #F5A330;
     --status-color-danger: #E03510;
}