:root {
    /* Layout */
    --header-height: 50px;
    --footer-height: 50px;
    --side-bar-width: 230px;

    /* Font */
    --font-color: #37404d;
    --font-family: Roboto, sans-serif;
    --font-size: 16px;

    /* Shadows */
    --default-shadow: 4px 4px 4px rgba(0,0,0,0.08);
    --raised-shadow: 4px 6px 6px rgba(0,0,0,0.08);

    /* Color Palette */
              --default-color: #e4e7ea;
       --raised-default-color: #eceff3;
    --decreased-default-color: #d4d7da;
         --text-default-color: var(--font-color);

              --primary-color: #00AE69;
       --raised-primary-color: #08B772;
    --decreased-primary-color: #009E59;
         --text-primary-color: white;
    
              --secondary-color: #E38B2B;
       --raised-secondary-color: #EB9333;
    --decreased-secondary-color: #D37B1B;
         --text-secondary-color: white;
}