.header {
    align-items: center;
    background-color: white;
    box-shadow: var(--default-shadow);
    display: flex;
    grid-area: header;
    justify-content: center;
    position: relative;
}

.header__left-menu {
    position: absolute;
    left: 0;
}

.header__title {
    font-size: 18px;
    font-weight: 500;
}

.header__right-menu {
    position: absolute;
    right: 0;
}