.header {
    align-items: center;
    background-color: white;
    box-shadow: var(--default-shadow);
    display: flex;
    grid-area: header;
    justify-content: center;
    position: relative;

    --logo-width: 210px;
}

.header__logo {
    background-image: url('../../../img/logo-dark.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: var(--header-height);
    position: absolute;
    left: 0;
    width: var(--logo-width);
}

.header__left-menu {
    position: absolute;
    left: var(--logo-width);
}

.header__title {
    font-size: 18px;
    font-weight: 500;
}

.header__right-menu {
    position: absolute;
    right: 0;
}