@import url('util/variables.css');
@import url('components/header/index.css');
@import url('components/side-bar/index.css');
@import url('util/button/button.css');

html, body {
    background:  #F3F5F7;
    color:       var(--font-color);
    font-family: var(--font-family);
    font-size:   var(--font-size);
    font-weight: black;
    margin:      0;
    overflow:    hidden;
}

.layout {   
    display: grid;
    grid-template-areas: "side-bar header"
                         "side-bar main";
    grid-template-rows:    var(--header-height)  1fr;
    grid-template-columns: var(--side-bar-width) 1fr;
    height: 100vh;
    width: 100%;
}