@import url('components/main-container.css');
@import url('components/header/index.css');
@import url('components/side-bar/index.css');
@import url('components/campaigns/index.css');
@import url('components/analytics/index.css');
@import url('components/sessions/index.css');
@import url('util/variables.css');
@import url('util/util.css');
@import url('util/button/button.css');
@import url('util/form/form.css');
@import url('util/panel/panel.css');
@import url('util/status/status.css');


html, body {
    background:  #F3F5F7;
    color:       var(--font-color);
    font-family: var(--font-family);
    font-size:   var(--font-size);
    font-weight: black;
    margin:      0;
    overflow:    hidden;
}

.layout {   
    display: grid;
    grid-template-areas: "header header"
                         "side-bar main-container";
    grid-template-rows:    var(--header-height)  1fr;
    grid-template-columns: var(--side-bar-width) 1fr;
    height: 100vh;
    width: 100%;
}

/* 
  Tablets, Ipads (portrait)
*/
@media (max-width: 1024px) {
    .layout {   
        display: grid;
        grid-template-areas: "header header"
                             "side-bar main-container";
        grid-template-rows:    var(--header-height)  1fr;
        grid-template-columns: 55px 1fr !important;
        height: 100vh;
        width: 100%;
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.text-align--center {
    text-align: center;
}

.text-align--right {
    text-align: right;
}